@model Ordero.Web.Models.RestaurantModel

@{
    ViewBag.Title = "Save";
}
<br />
<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>Add new restaurant</legend>
            @using (Html.BeginForm("Save", "Restaurant", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    @Html.LabelFor(u => u.Name)
                    @Html.TextBoxFor(u => u.Name, new { @class = "form-control", placeholder = Model.Name })
                    @Html.ValidationMessageFor(u => u.Name)
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>